.container {
  align-items: center;
  margin: 0px 300px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0f266d;
  padding: 50px;
  border-radius: 40px;
  box-shadow: 3px 3px white;
}

.far {
  font-size: 100px
}

.card p, .card h2 {
  margin: 0px;
}
